   * {
       margin: 0;
       padding: 0;
   }
   
   @font-face {
       font-family: 'Avenir';
       src: url('../fonts/Avenir-Heavy.ttf');
   }
   
   @font-face {
       font-family: 'proximaBold';
       src: url('../fonts/proxima-nova-bold.otf');
   }
   
   @font-face {
       font-family: 'MuseoSans';
       src: url('../fonts/museosans.otf');
   }
   
   @font-face {
       font-family: 'proximaSemiBold';
       src: url('../fonts/proxima-nova-semibold.otf');
   }
   
   body {
       margin: 0 auto;
   }
   
   .header {
       width: 100%;
       height: 100px;
       background-color: #ffffff;
       position: fixed;
   }
   
   .logo {
       color: #82868f;
       font-family: "Museo Sans";
       font-size: 30px;
       font-weight: 700;
       text-transform: uppercase;
       margin: 28px 0 30px 135px;
       float: left;
   }
   
   .nav {
       float: right;
       margin: 30px 150px;
   }
   
   .nav li {
       display: inline-block;
   }
   
   .nav a {
       color: #82868f;
       font-family: "Museo Sans";
       font-size: 20px;
       font-weight: 700;
       text-decoration: none;
   }
   
   .menu li {
       margin-left: 15px;
   }
   
   .menu li a:hover {
       text-decoration: underline;
   }
   
   .sign {
       margin-left: 60px;
       width: 130px;
   }
   
   .sign a {
       justify-content: center;
       width: 100%;
       display: flex;
       align-items: center;
       height: 40px;
   }
   
   .sign a:hover {
       background-color: #0ebfdd;
       border-radius: 30px;
       color: #fff;
       text-decoration: none !important;
   }
   
   #content {
       background-image: url('../images/mountains.png');
       height: 600px;
       color: #fff;
   }
   
   #content h2 {
       color: #f7fdfe;
       font-family: Avenir;
       font-size: 44px;
       font-weight: 800;
       line-height: 28px;
       text-align: center;
       padding: 400px 0 30px;
   }
   
   #content h2 i {
       font-size: 12px;
   }
   
   .lorem {
       text-align: center;
       font-family: Avenir;
       font-size: 20px;
       font-weight: 500;
       line-height: 28px;
   }
   
   #about {
       height: 250px;
       color: #45494d;
   }
   
   #about h2 {
       color: #0ebfdd;
       margin: 67px 0 33px;
       font-family: Avenir;
       font-size: 44px;
       font-weight: 800;
       line-height: 28px;
   }
   
   .about,
   #team h2 {
       text-align: center;
       line-height: 28px;
       padding: 0 80px;
       height: inherit;
       box-sizing: border-box;
   }
   
   #team {
       background-color: #0ebfdd;
       color: #fff;
       font-size: 18px;
   }
   
   #team h2 {
       margin: 60px 0 105px;
       padding-top: 50px;
   }
   
   .team-menu {
       display: flex;
       justify-content: space-around;
       margin-bottom: 105px;
       list-style: none;
   }
   
   .button_work {
       text-align: center;
       padding-bottom: 15px;
   }
   
   .button {
       border: 1px solid #fff;
       border-radius: 30px;
       height: 40px;
       width: 180px;
       background-color: #0ebfdd;
       text-transform: uppercase;
       font-size: 16px;
       color: #fff;
       font-weight: 700;
       outline: none;
       cursor: pointer;
   }
   
   #gmap_canvas img {
       max-width: none!important;
       background: none!important
   }
   
   .footer {
       background-color: #45494d;
       font-size: 18px;
   }
   
   .footer-menu {
       width: 100%;
       margin: 35px 0 20px;
       list-style: none;
   }
   
   .footer-menu,
   .footer-list,
   .social {
       display: inline-flex;
       justify-content: space-between;
   }
   
   .social li {
       margin-left: 30px;
       list-style: none;
   }
   
   .social li a {
       height: inherit;
       text-decoration: none;
       color: #fff;
   }
   
   .fa-envelope-o,
   .fa-twitter,
   .fa-facebook {
       padding: 12px;
       border: 1px solid #fff;
       border-radius: 50%;
   }
   
   .footer-list li {
       margin-right: 30px;
       text-transform: uppercase;
       list-style: none;
   }
   
   .footer-list li a {
       font-family: 'MuseoSans';
       text-decoration: none;
       color: #fff;
   }
   
   .policy {
       display: inline-flex;
       justify-content: flex-end;
       width: 100%;
       height: 42px;
       align-items: center;
       border-top: 1px solid #5a5e62;
       color: #73767a;
       font-family: "MuseoSans";
       padding-right: 40px;
       box-sizing: border-box;
   }
   
   .policy li {
       padding: 0 11px;
       border-right: 1px solid #73767a;
       line-height: 12px;
       list-style: none;
   }